<h2>Currency</h2>

<div class="inner-container">
  <conichi-currency [(model)]="data" placeholder="Amount" currency="EUR"></conichi-currency>

  <p class="output-box"><span>Output:</span> {{ data }}</p>
</div>

<div class="outer-container">
  <h3 class="subheading">Usage</h3>

  <pre><code highlight>
<![CDATA[
<conichi-currency placeholder="Amount"
                  currency="EUR"
                  [(model)]="data">
</conichi-currency>
]]>
</code></pre>

  <h3 class="subheading">Parameters</h3>

  <p class="param">
    <span>placeholder (required)</span><br>Used to specify the placeholder which will be used as the text input label.
  </p>

  <p class="param">
    <span>currency</span><br>Specify the currency code to be used e.g. EUR, USD, GBP. (default: EUR)
  </p>

  <p class="param">
    <span>model</span><br>Used for 2 way data binding.
  </p>

  <conichi-checkbox class="prefill" label="Prefill input" value="true" [(model)]="prefill"></conichi-checkbox>
</div>