<h2>Display</h2>

<div class="inner-container">
  <parabol-display></parabol-display>

  <a class="trigger-notification" (click)="triggerLoading()">Trigger loading screen for 5 seconds</a>
</div>

<div class="outer-container">
  <h3 class="subheading">Usage</h3>

  <pre><code highlight>
<![CDATA[
<parabol-loading [loading]="loading"></parabol-loading>
]]>
</code></pre>

  <h3 class="subheading">Parameters</h3>

  <p class="param">
    <span>loading</span><br> Control the loading screen with the loading param (boolean or string)
  </p>
</div>
