<h2>Footer</h2>

<conichi-footer></conichi-footer>

<div class="outer-container">
  <h3 class="subheading">Usage</h3>

  <pre><code highlight>
<![CDATA[
<conichi-footer [partner_logo]="./assets/svgs/partners/logo.svg"></conichi-footer>
]]>
</code></pre>

  <h3 class="subheading">Parameters</h3>

  <p class="param">
    <span>partner_logo</span><br>Specify the logo to be used in the footer. (default: conichi logo)
  </p>

  <p class="param">
    <span>corporate_logo</span><br>Additional logo to be used in the footer.
  </p>
</div>
