<h2>Modal Box</h2>

<div class="inner-container">
  <a class="open-modal button" (click)="modal = !modal">Open Modal Box</a>

  <conichi-modal *ngIf="modal">
    <modal-container>
      <modal-content>
        <h2>Hello</h2>
        <p>This is a model box.</p>
      </modal-content>

      <modal-footer type="prompt" (model)="modal = $event" (onConfirm)="cl('success')" (onCancel)="cl('canceled')"></modal-footer>
    </modal-container>
  </conichi-modal>
</div>

<div class="outer-container">
  <h3 class="subheading">Usage</h3>

  <pre><code highlight>
<![CDATA[
<conichi-modal *ngIf="modal">
  <modal-container>
    <modal-content>
      <h2>Hello</h2>
      <p>This is a model box.</p>
    </modal-content>

    <modal-footer type="prompt" (model)="modal = $event" [i18n]="i18n" (onConfirm)="cl('success')"></modal-footer>
  </modal-container>
</conichi-modal>
]]>
</code></pre>

  <h3 class="subheading">Parameters</h3>

  <p class="param">
    <span>type</span><br>Specify whether you want a confirm or prompt modal popup. (default: confirm)
  </p>

  <p class="param">
    <span>model</span><br>Use this to hide the modal box again.
  </p>

  <p class="param">
    <span>i18n (required)</span><br>Set the translations for this component
  </p>

  <p class="param">
    <span>onConfirm</span><br>Specify the function which should be run when the user clicks Submit
  </p>

  <p class="param">
    <span>onCancel</span><br>Specify the function which should be run when the user clicks Cancel
  </p>

  <p class="param">
    <span>label</span><br>Use this to set what you want the confirmation button to say (default: OK)
  </p>
</div>