<h2>Notification</h2>

<div class="inner-container">
  <parabol-notification [data]="notification"></parabol-notification>

  <a class="trigger-notification" (click)="triggerNotification('error')">Trigger Error</a>
  <a class="trigger-notification" (click)="triggerNotification('success')">Trigger Success</a>
</div>

<div class="outer-container">
  <h3 class="subheading">Usage</h3>

  <pre><code highlight>
<![CDATA[
<parabol-notification [data]="notification"></parabol-notification>
]]>
</code></pre>

  <h3 class="subheading">Data</h3>

  <p class="param">
    <span>data (required)</span><br> Formatted as {{ '{' }} type: 'error', payload: 'This is the error' {{ '}' }}
  </p>
</div>