<h2>Progress</h2>

<div class="inner-container">
  <conichi-progress steps="8" progress="3"></conichi-progress>
</div>

<div class="outer-container">
  <h3 class="subheading">Usage</h3>

  <pre><code highlight>
<![CDATA[
<conichi-progress steps="8" progress="3"></conichi-progress>
]]>
</code></pre>

  <h3 class="subheading">Parameters</h3>

  <p class="param">
    <span>steps (required)</span><br>Define the total amount of steps
  </p>

  <p class="param">
    <span>progress (required)</span><br>Define the current progress of the steps
  </p>
</div>
