<h2>Select</h2>

<div class="inner-container">
  <conichi-select placeholder="Select"
                  [options]="select_options"
                  keys="label_alt, value_alt"
                  [(model)]="data">
  </conichi-select>

  <p class="output-box"><span>Output:</span> {{ data }}</p>
</div>

<div class="outer-container">
  <h3 class="subheading">Usage</h3>

  <pre><code highlight>
<![CDATA[
<conichi-select placeholder="Select"
                keys="label_alt, value_alt"
                [options]="select_options"
                [(model)]="data">
</conichi-select>
]]>
</code></pre>

  <h3 class="subheading">Parameters</h3>

  <p class="param">
    <span>placeholder (required)</span><br>Used to specify the placeholder which will be used as the text input label.
  </p>

  <p class="param">
    <span>options (required)</span><br>Import Collection with label and value to be used to construct the radio buttons.
  </p>

  <p class="param">
    <span>keys</span><br>Specify the names of the keys, as a comma seperated list, which will be assigned to the label and value of the select options (default: 'label, value').
  </p>

  <p class="param">
    <span>model</span><br>Used for 2 way data binding.
  </p>

  <conichi-checkbox class="prefill" label="Prefill input" value="true" [(model)]="prefill"></conichi-checkbox>
</div>