<h2>Sidebar Layout</h2>
<p class="center">You are looking at it</p>

<div class="outer-container">
  <h3 class="subheading">Usage</h3>

  <pre><code highlight>
<![CDATA[
<parabol-sidebar collapsed="true">
  <parabol-sidebar-menu>
    <parabol-sidebar-user [session]="session"></parabol-sidebar-user>

    <parabol-sidebar-header>Profile</parabol-sidebar-header>
    <a routerLink="/profile">Your data</a>
  </parabol-sidebar-menu>
</parabol-sidebar>

<parabol-sidebar-content>
  Page content goes here
</parabol-sidebar-content>
]]>
</code></pre>

  <h3 class="subheading">Parameters</h3>

  <p class="param">
    <span>collapsed</span><br>Specify whether you want the sidebar to be collapsed by default. (Default: false)
  </p>

  <p class="param">
    <span>session</span><br> Input the user session to the parabol-sidebar-user component.
  </p>
</div>