<h2>Slider</h2>

<div class="inner-container">
  <conichi-slider placeholder="Radius"
                  min="0"
                  max="200"
                  suffix=" meters"
                  [(model)]="data"></conichi-slider>

  <p class="output-box"><span>Output:</span> {{ data }}</p>
</div>

<div class="outer-container">
  <h3 class="subheading">Usage</h3>

  <pre><code highlight>
<![CDATA[
<conichi-slider placeholder="Radius"
                min="0"
                max="200"
                suffix=" meters"
                [(model)]="data">
</conichi-slider>
]]>
</code></pre>

  <h3 class="subheading">Parameters</h3>

  <p class="param">
    <span>placeholder (required)</span><br>Used to specify the placeholder which will be used as the input label.
  </p>

  <p class="param">
    <span>min</span><br>Used to specify the minimum possible value (default: 0).
  </p>

  <p class="param">
    <span>max</span><br>Used to specify the maximum possible value (default: 100).
  </p>

  <p class="param">
    <span>prefix</span><br>Define a prefix for the outputted value.
  </p>

  <p class="param">
    <span>suffix</span><br>Define a suffix for the outputted value.
  </p>

  <p class="param">
    <span>model</span><br>Used for 2 way data binding.
  </p>

  <conichi-checkbox class="prefill" label="Prefill input" value="true" [(model)]="prefill"></conichi-checkbox>
</div>