<div id="styleguide">
  <h2>Styleguide</h2>

  <div class="screen-container">
    <h3 class="subheading">Colors</h3>
    
    <div class="color">
      <div class="swatch colorBackground align"></div>
      <p class="align">colorBackground <span>#001634</span></p>
    </div>
    
    <div class="color">
      <div class="swatch colorBackgroundDarkened align"></div>
      <p  class="align">colorBackgroundDarkened <span>tint($colorBackground, 2%)</span></p>
    </div>
    
    <div class="color">
      <div class="swatch colorPrimaryCorp align"></div>
      <p  class="align">colorPrimaryCorp <span>#5D95DA</span></p>
    </div>
    
    <div class="color">
      <div class="swatch colorSecondaryCorp align"></div>
      <p  class="align">colorSecondaryCorp <span>#9FB0C3</span></p>
    </div>
    
    <div class="color">
      <div class="swatch colorTeal align"></div>
      <p  class="align">colorTeal <span>#51B1BD</span></p>
    </div>
    
    <div class="color">
      <div class="swatch colorSoftBlue align"></div>
      <p  class="align">colorSoftBlue <span>#EDF0F4</span></p>
    </div>
    
    <div class="color">
      <div class="swatch colorMediumBlue align"></div>
      <p  class="align">colorMediumBlue <span>#6B90C5</span></p>
    </div>
    
    <div class="color">
      <div class="swatch colorSemiBlue align"></div>
      <p  class="align">colorSemiBlue <span>#425B78</span></p>
    </div>
    
    <div class="color">
      <div class="swatch colorDarkBlue align"></div>
      <p  class="align">colorDarkBlue <span>#2E3E51</span></p>
    </div>
    
    <div class="color">
      <div class="swatch colorErrorRed align"></div>
      <p  class="align">colorErrorRed <span>#F26161</span></p>
    </div>
    
    <div class="color">
      <div class="swatch colorSuccessGreen align"></div>
      <p  class="align">colorSuccessGreen <span>#40B292</span></p>
    </div>
    
    <div class="color">
      <div class="swatch colorWarningOrange align"></div>
      <p  class="align">colorWarningOrange <span>#F7B868</span></p>
    </div>
    
    <div class="color">
      <div class="swatch colorOffWhite align"></div>
      <p  class="align">colorOffWhite <span>#fbfbfb</span></p>
    </div>
    
    <div class="color">
      <div class="swatch colorLightGrey align"></div>
      <p  class="align">colorLightGrey <span>#E5E5E5</span></p>
    </div>
    
    <div class="color">
      <div class="swatch colorMediumGrey align"></div>
      <p  class="align">colorMediumGrey <span>#898989</span></p>
    </div>
    
    <div class="color">
      <div class="swatch colorDarkGrey align"></div>
      <p  class="align">colorDarkGrey <span>#5A5A5A</span></p>
    </div>
    
    <div class="clear"></div>
    
    <h3 class="subheading">Typography</h3>
    
    <h1>This is a H1 tag</h1>
    <h2>This is a H2 tag</h2>
    <h3>This is a H3 tag</h3>
    <h4>This is a H4 tag</h4>
    <p>This is a P tag</p>
  </div>
</div>
