// Color variables
// Styleguide 1.0

$colorBackground: #f7f7f7;
$colorBackgroundDarkened: darken($colorBackground, 1%);

$colorLandingBox: #D3E0ED;

$colorPrimaryCorp: #5D95DA;
$colorSecondaryCorp: #9FB0C3;
$colorTeal: #51B1BD;

$colorSoftBlue: #EDF0F4;
$colorMediumBlue: #6b90c5;
$colorSemiBlue: #425B78;
$colorDarkBlue: #2E3E51;

$colorErrorRed: #F26161;
$colorSuccessGreen: #40B292;
$colorWarningOrange: #F7B868;

$colorOffWhite: #fbfbfb;
$colorLightGrey: #e5e5e5;
$colorMediumGrey: #898989;
$colorDarkGrey: #5a5a5a;
