// Forms, inputs, fieldsets, etc.
// Styleguide 1.0.

label {
  @include transition(color .2s);
  display: block;
  margin-bottom: 1px;
  font-size: 1em;
  font-weight: 300;
  text-transform: uppercase;
  color: $colorSecondaryCorp;
}

input, textarea {
  width: 100%;
  padding: .8em 0;
}

textarea {
  height: 10em;
  resize: none;
}

form {  
  hr { margin: 2em 0 }
}

input[type=submit],
input[type=text] { -webkit-appearance: none }

input[type=text] { border-radius: 0 }

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: $colorBackground;
  -webkit-box-shadow: 0 0 0px 1000px $colorBackground inset;
  -webkit-text-fill-color: $colorOffWhite;
  color: $colorOffWhite;
}

input[type=text],
input[type=password],
input[type=number], 
input[type=email],
input[type=url],
input[type=tel],
input[type=date] {
  font-weight: 100;
  border-bottom: 1px solid $colorOffWhite;
  padding: 0;

  &:focus {
    border-bottom: 1px solid $colorPrimaryCorp;
    background: -webkit-linear-gradient(top, transparent 95%, $colorPrimaryCorp 95%) no-repeat;
    background: linear-gradient(to bottom, transparent 95%, $colorPrimaryCorp 95%) no-repeat;
  }
}

input::-ms-clear,
input::-ms-reveal { display: none }
