//-------------------------------------
// Layout & comp.
//-------------------------------------

body {
  margin: 0;
  padding: 0;
}

.screen-container {
  max-width: 90em;
  margin: 0 auto;
  padding: 0 2.5em;
}

.outer-container {
  max-width: 47em;
  margin: 0 auto;
  padding: 0 1em;
}

.inner-container {
  max-width: 30em;
  margin: 0 auto;
  padding: 1.5em;
}

.half {
  @include span-columns(12 of 12);

  @include media($breakTabletLandscape) {
    @include span-columns(6 of 12);
    @include omega(2n);
  }

  &:after { clear: both }
}

app-root + .loading-screen {
  @include transition(opacity .2s ease-in-out .6s);
  @include position(fixed, 0 0 0 0);
  background: $colorBackground;
  pointer-events: none;
  z-index: 9999999999999;
  opacity: 0;

  img {
    @include position(absolute, 50% 50% null null);
    animation: grow 10s  linear 10ms infinite;
    @include size(15em auto);
    margin: -4em -7.5em 0 0;
  }
}

app-root:empty + .loading-screen { opacity: 1 }

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
  app-root + .loading-screen { display: none }
}

@keyframes grow{
  0% { transform:scale(1)}
  50% { transform:scale(1.2)}
}
