// Type settings, font styles, etc
// Styleguide 1.0.


body {
  @include font-feature-settings("kern");
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3em;
  color: $colorDarkGrey;
  text-rendering: optimizeLegibility;

  @include media($breakTabletPortrait) { font-size: 12px }
  @include media($breakLargescreen) { font-size: 14px }
}

//-------------------------------------
// Headlines
//-------------------------------------

h1, h2, h3, h4 {
  font-weight: 100;
  line-height: 1;
  margin: 0;
}

a {
  &:link,
  &:visited,
  &:hover,
  &:active,
  &:focus {
    color: $colorDarkGrey;

    &:hover { color: lighten($colorDarkGrey, 10%) }
    
    &.button { color: $colorOffWhite }
  }
}

h1 {
  font-weight: bolder;
  font-size: 2em;
  letter-spacing: 1px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  padding: .5em 0;

  @include media($breakTabletPortrait) { font-size: 2em }
  @include media($breakTabletLandscape) { font-size: 1.8em }
}

h2 {
  font-size: 1.3em;
  text-align: center;
  color: $colorDarkGrey;

  &.faded { opacity: .5 }
  &.pull-left { text-align: left }
}

h3 {
  font-weight: bolder;
  font-size: 1.3em;

  &::first-letter { text-transform: uppercase }
}

h4 {
  font-size: 1.2em;
  text-align: center;
  margin: 0;
}


//-------------------------------------
// Copy semantics
//-------------------------------------

fa { color: $colorDarkGrey }

small {
  font-size: .9em;
  line-height: 1em;
  display: inline-block;
  text-transform: uppercase;
  color: darken($colorLightGrey, 20%);
  font-weight: 100;
}

strong { font-weight: bolder }

p {
  margin: 1.1em 0;
  font-size: 1em;
  line-height: 1.3em;
}

figure { margin: 0 }
