<div id="app">
  <parabol-sidebar>
    <parabol-menu-item (click)="selection = 'sidebar'">
      <fa name="bars"></fa>
      <a>Sidebar</a>
    </parabol-menu-item>

    <parabol-menu-item (click)="selection = 'text'">
      <fa name="font"></fa>
      <a>Text Input</a>
    </parabol-menu-item>

    <parabol-menu-item (click)="selection = 'textarea'">
      <fa name="square"></fa>
      <a>Textarea Input</a>
    </parabol-menu-item>

    <parabol-menu-item (click)="selection = 'date'">
      <fa name="calendar"></fa>
      <a>Datepicker</a>
    </parabol-menu-item>

    <parabol-menu-item (click)="selection = 'checkbox'">
      <fa name="check"></fa>
      <a>Checkbox</a>
    </parabol-menu-item>

    <parabol-menu-item (click)="selection = 'checkbox-group'">
      <fa name="check-square"></fa>
      <a>Checkbox Group</a>
    </parabol-menu-item>

    <parabol-menu-item (click)="selection = 'radio'">
      <fa name="circle"></fa>
      <a>Radio</a>
    </parabol-menu-item>

    <parabol-menu-item (click)="selection = 'select'">
      <fa name="list"></fa>
      <a>Select</a>
    </parabol-menu-item>

    <parabol-menu-item (click)="selection = 'select-button'">
      <fa name="th-list"></fa>
      <a>Select Button</a>
    </parabol-menu-item>

    <parabol-menu-item (click)="selection = 'slider'">
      <fa name="toggle-on"></fa>
      <a>Slider</a>
    </parabol-menu-item>

    <parabol-menu-item (click)="selection = 'modal'">
      <fa name="square"></fa>
      <a>Modal Box</a>
    </parabol-menu-item>

    <parabol-menu-item (click)="selection = 'notification'">
      <fa name="bell"></fa>
      <a>Notification</a>
    </parabol-menu-item>

    <parabol-menu-item (click)="selection = 'loading'">
      <fa name="spinner"></fa>
      <a>Loading Screen</a>
    </parabol-menu-item>

    <parabol-menu-item (click)="selection = 'pending'">
      <fa name="ellipsis-h"></fa>
      <a>Pending</a>
    </parabol-menu-item>
  </parabol-sidebar>

  <parabol-sidebar-content>
    <h1 class="heading">Parabol Material</h1>

    <app-text *ngIf="selection === 'text'"></app-text>
    <app-textarea *ngIf="selection === 'textarea'"></app-textarea>
    <app-datepicker *ngIf="selection === 'date'"></app-datepicker>
    <app-checkbox *ngIf="selection === 'checkbox'"></app-checkbox>
    <app-checkbox-group *ngIf="selection === 'checkbox-group'"></app-checkbox-group>
    <app-radio *ngIf="selection === 'radio'"></app-radio>
    <app-select *ngIf="selection === 'select'"></app-select>
    <app-slider *ngIf="selection === 'slider'"></app-slider>
    <app-modal *ngIf="selection === 'modal'"></app-modal>
    <app-notification *ngIf="selection === 'notification'"></app-notification>
    <app-loading *ngIf="selection === 'loading'"></app-loading>
    <app-pending *ngIf="selection === 'pending'"></app-pending>
    <app-select-button *ngIf="selection === 'select-button'"></app-select-button>
    <app-sidebar *ngIf="selection === 'sidebar'"></app-sidebar>
  </parabol-sidebar-content>
</div>