<div class="reservation-container">
  <div class="details">
    <h2 class="title">{{ i18n?.material_reservation_title || 'Reservation' }}</h2>

    <div class="row venue" *ngIf="venue">
      <p>{{ venue?.name }}</p>
      <span>{{ venue?.location.city_name }}, {{ venue?.location.country_name }}</span>
    </div>

    <div class="row" *ngIf="precheckin && precheckin?.arrived_on && precheckin?.departed_on">
      <div class="half">
        <p>{{ i18n?.material_reservation_from || 'From' }}</p>
        <span>{{ precheckin?.arrived_on | date:'longDate' }}</span>
      </div>

      <div class="half">
        <p>{{ i18n?.material_reservation_to || 'To' }}</p>
        <span>{{ precheckin?.departed_on | date:'longDate' }}</span>
      </div>
    </div>

    <div class="clear"></div>

    <div class="row">
      <div class="half" *ngIf="session">
        <p>{{ i18n?.material_reservation_traveller || 'Traveller' }}</p>
        <span>{{ session?.user.name }}</span>
      </div>

      <div class="half" *ngIf="precheckin && precheckin?.reservation_number">
        <p>{{ i18n?.material_reservation_number || 'Reservation number' }}</p>
        <span>{{ precheckin?.reservation_number }}</span>
      </div>
    </div>
  </div>

  <div class="venue-photo" [style.background-image]="'url(' + venue?.photo + ')'"></div> 
</div>
