conichi-checkbox,
conichi-checkbox-group {
  .checkbox {
    @include position(relative, 0 null null 2.5em);
    @include size(auto 2em);
    text-transform: uppercase;
    cursor: pointer;
    display: block;

    &:before {
      @include transition(all .1s ease);
      @include position (absolute, -.15em null null -2em);
      @include size(1.4em);
      transform-origin: center center;
      border: 2px solid #9FB0C3;
      border-radius: 5px;
      content: '';
    }

    &.checked {
      fa { display: block }

      &:before {
        border: 2px solid $colorPrimaryCorp;
        background: $colorPrimaryCorp;
      }
    }

    fa {
      @include position(absolute, 0 null null -1.8em);
      display: none;
    }
  }
}