conichi-datepicker {
  .input-container {
    position: relative;
    cursor: pointer;

    .calendar {
      @include position(absolute, null .1em .6em null);
      @include size(1em);
    } 
  }

  conichi-modal modal-container {
    overflow: visible;
    max-width: 25em;
    padding: 3em 0 1em;

    .header {
      @include position(absolute, 0 0 null 0);
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      background: $colorPrimaryCorp;
      color: $colorOffWhite;
      padding: 1em 0;
      margin-bottom: 2em;
      text-align: center;
      
      h2 {
        color: $colorOffWhite;
        text-align: center;
      }

      conichi-select-button {
        .button, .button:hover {
          background: $colorPrimaryCorp;
          color: $colorOffWhite;
          padding: .6em 1em .5em 0;
          margin: 0 !important;
          box-shadow: none;
        }
      }
    }

    .days, .weekday {
      @include span-columns(1 of 7);
      @include omega(7n);
      text-align: center;
    }

    .days {
      border-radius: 5px;
      padding: .7em 0;
      cursor: pointer;

      &:hover { background: $colorLightGrey }
    }

    .weekday {
      color: darken($colorLightGrey, 20%);
      text-transform: uppercase;
      font-size: .7em;
    }
  }

  .selection {
    &.time {
      overflow-y: unset;

      span {
        text-align: center;
        display: block;
        font-size: 3em;
        margin: .5em 0 1em;
      }

      .select-button-container { display: block }
      .smaller { width: 100% }
    }

    .half:first-child {
      padding-right: 1em;
      border-right: 1px solid $colorLightGrey;
    }

    .half:last-child { padding-left: 1em }
  }
}