conichi-footer {
  @include position(static, null null null null);
  border-top: 1px solid $colorPrimaryCorp;
  background: $colorBackgroundDarkened;
  display: block;
  height: 5em;

  @include media($breakTabletPortrait) {
    @include position(fixed, null 0 0 0);
    height: 4em;
  }

  .corporate-logo, .partner-logo {
    @include size(auto 1em);
    display: inline-block;
    margin-top: 1.4em;
    float: left;
    
    @include media($breakTabletPortrait) {
      @include size(auto 1.5em);
      margin-top: 1.2em;
    }
  }

  .corporate-logo { float: right }

  .copyright {
    @include position(relative, 4em null null null);
    text-align: center;
    font-size: .8em;
    color: $colorSecondaryCorp;
    white-space: nowrap;
    
    @include media($breakTabletPortrait) { @include position(relative, 1.8em null null null) }
    
    &.right { text-align: right }
  }
}