conichi-modal {
  @include position(fixed, 0 0 0 0);
  background: rgba(0, 0, 0, .5);
  z-index: 99999999;

  modal-container {
    @include position(absolute, 50% 50% null null);
    transform: translate(50%, -50%);
    @include size(90% auto);
    background: $colorOffWhite;
    color: $colorDarkGrey;
    border-radius: 5px;
    z-index: 999999999;
    max-width: 40em;
    max-height: 90%;
    overflow: scroll;
    
    @include media($breakTabletLandscape) { @include size(40% auto) }
  }

  modal-content {
    display: block;
    padding: 2em 2em 1em;
    
    h1 {
      color: $colorPrimaryCorp;
      text-align: left;
    }
    
    h3 { margin: 1.5em 0 .5em }

    h2, h3, p {
      color: $colorDarkGrey;
      text-align: left;
    }
  }

  modal-footer {
    @include position(sticky, null 0 0 0);
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 1.3em;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    .confirm-label {
      background: $colorPrimaryCorp;
      height: 3em;
      padding: 1.1em;
    }

    .prompt {
      background: $colorSoftBlue;
      border-top: 1px solid $colorLightGrey;
      height: 3.5em;
      padding: .3em 1em;

      .button {
        padding: 9px 20px 8px;
        font-size: .8em;
        min-width: 8em;
        border-radius: 3px;

        &.confirm { float: right }

        &.cancel {
          float: left;
          border: 1px solid $colorPrimaryCorp;
          color: $colorPrimaryCorp;

          &:hover {
            color: $colorPrimaryCorp;
            background: rgba($colorPrimaryCorp, .1)
          }
        }
      }
    }
  }
}
