conichi-notice {
  .notice-container {
    position: relative;
    display: block;
    background: $colorSuccessGreen;
    border-radius: 2px;
    padding: 1em 1.5em;
    margin: 2em 0 3em;

    .notice-icon {
      display: inline-block;
      color: black;
    }

    p {
      display: inline-block;
      vertical-align: top;
      width: calc(100% - 2em);
      color: black;
      margin: .5em 0;
      padding: 0 1em;
    }

    .close-icon {
      @include position(absolute, 1em 1em null null);
      cursor: pointer;
      color: black;
    }
  }
}