conichi-progress {  
  ul {
    counter-reset: step;
    width: fit-content;
    margin: 2em auto 0;

    li {
      position: relative;
      list-style-type: none;
      width: 3.5em;
      display: inline-block;
      font-size: 12px;

      &:before {
        @include size(2em);
        position: relative;
        content: counter(step);
        counter-increment: step;
        line-height: 1.8em;
        display: block;
        text-align: center;
        margin: 0 auto 10px;
        border-radius: 50%;
        background: $colorBackground;
        border: 2px solid $colorPrimaryCorp;
        color: $colorOffWhite;
        z-index: 2;
      }

      &:after {
        @include position(absolute, .9em null null -50%);
        @include size(100% 2px);
        content: '';
        background: $colorPrimaryCorp;
        z-index: 1;
      }

      &:first-child:after { content: none }
      
      &.active:before { background: $colorPrimaryCorp }
            
      &.active:after { background: $colorPrimaryCorp }
    }
  }
}