conichi-radio {
  .radio-button {
    margin: 16px 0;

    input[type="radio"] {
      display: none;

      &.checked + label:before {
        border-color: $colorPrimaryCorp;
        animation: ripple 0.2s linear forwards;   
      }

      &.checked + label:after { transform: scale(1) }
    }

    label {
      display: inline-block;
      position: relative;
      height: 18px;
      padding: 2px 30px 0;
      margin-bottom: 0;
      cursor: pointer;
      vertical-align: bottom;
      color: $colorOffWhite;
      font-size: 14px;

      &:before, &:after {
        @include transition(all 0.3s ease);
        content: '';  
        border-radius: 50%;
      }

      &:before {
        @include position(absolute, 0 null null 0);
        @include size(20px);
        border: 2px solid $colorMediumGrey;
      }

      &:after {
        @include position(absolute, 5px null null 5px);
        @include size(10px);
        transform: scale(0);
        background: $colorPrimaryCorp;
      }
    }
  }

  *, *:before, *:after { box-sizing: border-box }
}

@keyframes ripple {
  0% {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.0);
  }
  50% { 
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0);
  }
}