conichi-reservation {
  .reservation-container {
    position: relative;
    border: 1px solid $colorSecondaryCorp;
    background: $colorBackgroundDarkened;
    margin-bottom: 3em;
    border-radius: 5px;
    min-height: 10em;
    padding: 1em 1.3em;
    box-shadow: 0 2px 4px rgba(50, 50, 50, .1), 0 3px 6px rgba(100, 100, 100, .2);

    .title {
      color: lighten($colorMediumGrey, 10%);
      font-size: 1em;
      text-align: left;
      text-transform: uppercase;
      margin-bottom: .5em;
    }
    
    .venue {
      p {
        font-size: 1.1em !important;
        text-transform: uppercase;
        font-weight: bolder;
      }
      
      span { color: $colorMediumGrey !important }
    }

    .details {
      width: calc(100% - 10em);
      display: inline-block;
      vertical-align: top;

      .row { margin: .7em 0 }

      p {
        color: lighten($colorMediumGrey, 10%);
        font-size: 1em;
        margin: 0;
      }

      span { color: $colorMediumGrey }
    }

    .venue-photo {
      @include size(8em);
      float: right;
      display: inline-block;
      vertical-align: top;
      background-size: cover;
      background-position: center;
      border-radius: 5px;
    }
  }
}