conichi-select-button {
  .select-button-container {
    position: relative;
    display: inline-block;

    .button {
      position: relative;
      border-radius: 3px;
      background: $colorOffWhite;
      border: 1px solid $colorPrimaryCorp;
      color: $colorPrimaryCorp;
      padding: .6em 3.6em .5em 1.5em;
      text-shadow: none;
      z-index: 9999;

      &:after {
        @include position(absolute, 0 0 0 null);
        border-left: 1px solid $colorPrimaryCorp;
        padding: .55em .8em 0;
        content: '▾';
      }

      &:hover {
        background: darken($colorOffWhite, 3%);
        color: $colorPrimaryCorp;
      }
    }

    .select-button-dropdown {
      @include position(absolute, 2.7em 1px null 1px);
      box-shadow: 0 3px 6px rgba(0, 0, 0, .1), 0 3px 6px rgba(0, 0, 0, .2);
      border: 1px solid $colorSoftBlue;
      background: $colorOffWhite;
      padding-top: .3em;
      max-height: 20em;
      overflow-y: scroll;
      -ms-overflow-style: scrollbar;
      z-index: 9;

      .option {
        padding: .7em 1em;
        color: $colorDarkGrey;
        border-bottom: 1px solid $colorLightGrey;
        cursor: pointer;
        text-align: center;

        &:hover {
          background: $colorPrimaryCorp;
          color: $colorOffWhite;
        }

        &:last-child { border: none }
      }

      p {
        color: $colorPrimaryCorp;
        padding: .9em 0;
        margin: 0;
        text-align: center;
      }
    }
  }
}