conichi-slider {
  .slider-container {
    width: 100%;

    input {
      @include transition(opacity .2s ease-in-out);
      @include appearance(none);
      @include size(100% 1px);
      background: transparent;
      outline: none;

      &::-webkit-slider-thumb {
        @include appearance(none);
        @include size(1.5em);
        border-radius: 50%;
        background: $colorPrimaryCorp;
        cursor: pointer;
        margin-top: -.75em;
      }

      &::-moz-range-thumb {
        @include size(1.5em);
        border-radius: 50%;
        background: $colorPrimaryCorp;
        cursor: pointer;
      }

      &::-webkit-slider-runnable-track {
        @include position(relative, .5em null null null);
        @include size(100% 2px);
        background: $colorSecondaryCorp;
        border-radius: 2px;
        cursor: pointer;
      }

      &::-moz-range-track {
        @include position(relative, .5em null null null);
        @include size(100% 2px);
        background: $colorSecondaryCorp;
        border-radius: 2px;
        cursor: pointer;
      }

      &::-ms-track {
        @include position(relative, .5em null null null);
        @include size(100% 2px);
        background: $colorSecondaryCorp;
        border-radius: 2px;
        cursor: pointer;
      }
    }
    
    .output {
      float: right;
      margin-top: -1.5em;
    }
  }
}