conichi-textarea {
  display: block;

  .group {
    position: relative;
    margin: .5em 0;

    textarea {
      @include transition(all 0.2s ease);
      background: $colorBackground;
      color: $colorMediumGrey; 
      padding: 1.5em 0 0;
      border: none;
      border-bottom: 2px solid $colorSoftBlue;
      outline: none;
      font-size: 1em;
      max-height: 8em;

      &:active,
      &:focus {
        color: $colorLightGrey;
        background: $colorBackground;
        border-bottom: 2px solid $colorPrimaryCorp;
      }

      &:active + label,
      &:focus + label { color: $colorPrimaryCorp }
    }

    label {
      @include position(absolute, .2em null null 0);
      @include transition(all 0.2s ease);
      font-size: .8em;
      color: $colorSoftBlue; 
      pointer-events: none;
    }
  }
}