#styleguide {
  .color {
    @include span-columns(12 of 12);
    font-size: .9em;
    margin-right: 0;

    @include media($breakTabletPortrait) {
      @include span-columns(4 of 12);
      margin-right: 0;
    }

    .swatch {
      @include size(2.5em);
      border: 1px solid $colorLightGrey;
      border-radius: 50%;
      margin-right: 1em;

      &.colorBackground { background: $colorBackground }
      &.colorBackgroundDarkened { background: $colorBackgroundDarkened }
      &.colorPrimaryCorp { background: $colorPrimaryCorp }
      &.colorSecondaryCorp { background: $colorSecondaryCorp }
      &.colorTeal { background: $colorTeal }
      &.colorSoftBlue { background: $colorSoftBlue }
      &.colorMediumBlue { background: $colorMediumBlue }
      &.colorSemiBlue { background: $colorSemiBlue }
      &.colorDarkBlue { background: $colorDarkBlue }
      &.colorErrorRed { background: $colorErrorRed }
      &.colorSuccessGreen { background: $colorSuccessGreen }
      &.colorWarningOrange { background: $colorWarningOrange }
      &.colorOffWhite { background: $colorOffWhite }
      &.colorLightGrey { background: $colorLightGrey }
      &.colorMediumGrey { background: $colorMediumGrey }
      &.colorDarkGrey { background: $colorDarkGrey }
    }

    p span {
      color: $colorSecondaryCorp;
      display: block;
    }
  }
}
